
.body {
	display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.godCard {
  width: 200px;
  border-top: 2px solid #2A0E28;
  border-bottom: 2px solid #2A0E28;
}

.godCard > img {
  width: 125px;
  height: 125px;
}

.Battlefield {
  height: 1700px;
  width: 70%;
  background-image: url(https://i.pinimg.com/474x/cd/fd/6b/cdfd6b08658e073765c7d014d725022e.jpg);
  background-size: 100% 100%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
  align-content: stretch;
  text-align: center;
}

.gods-column {
  padding-top: 20px;
  width: 15%;
  color: #AB40B6;
  background-color: #294284;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.column-title {
  font-weight: 300;
}

.search-bar {
  padding-bottom: 15px;
}

.search-button {
  height: 25px;
  width: 50px;
  border: none;
  color: #f8e0dc;
  background-color: #2A0E28;
}

.champ-card > img {
  width: 350px;
  height: 375px;
  border: 6px solid #4D2663;
}

.champ-card {
  margin: 25px;
  color: #AB40B6;
  text-shadow: 1px 1px 10px black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.champ-title {
  font-size: 40px;
  color: #83828C;
  text-shadow: 1px 1px 10px black;
}

.godName {
  font-size: 60px;
  font-weight: 900;
  text-shadow: 2px 2px 10px black;
  border-top: 2px solid #83828C;

}

.taunt {
  width: 450px;
  font-size: 30px;
  color: #83828C;
  text-shadow: 2px 2px 10px black;
}

.battle-cards {
  align-items: center;
  background-color: black;
  opacity: .4;
  font-size: 40px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
  align-content: stretch;
  text-align: center;
}

.battle-buttons {
  height: 120px;
  width: 80px;
  display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
  /* align-content: space-between; */

}