
.champ-card > img {
  width: 300px;
  height: 300px;
  border: 5px solid #301F38;
}

.champ-card {
  margin: 25px;
  color: #301F38;
  text-shadow: 1px 1px 10px white;
}

.champ-title {
  font-size: 40px;
  color: #f8e0dc;
  text-shadow: 1px 1px 10px black;

}

.godName {
  font-size: 60px;
  font-weight: 900;
  text-shadow: 2px 2px 10px white;
  border-top: 2px solid #f8e0dc;

}

.taunt {
  width: 450px;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 10px black;
}